/**
 * less style
 *
 * 页面
 */

//
// 
// ------------------------------
.section-panel-content {
    .panel-body {
        img {
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }
}
