<!-- Feature Section -->
<section id="feature" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>优雅 灵巧 &nbsp; | &nbsp; 开源 免费</h2>
            <br/>

            <p>
                用于构建 论坛 / 博客 / 信息资讯 网站 <br>
                已发布 V1.0-beta版本，正式版预计10月底释出
            </p>

            <p>
                采用最自由开放的授权许可: <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a> <br>
                被授权人有权利使用、复制、修改、合并、出版发布、散布、再授权和/或贩售软件及软件的副本。
            </p>

            <br/>
          </div>
    </div>
</section>
