#cy-dashboard {
    #header {
        margin-top: 20px;
        margin-bottom: 25px;

        h1 {
            margin: 0;
            display: inline-block;
            color: #666;
        }
    }
}
