/**
 * less style
 *
 * Layout 布局样式
 */

//
// 
// ------------------------------
body {
    background-color: $color-body-bg;
    font-weight: 300;
}


//
// Header
// ------------------------------



//
// Footer
// ------------------------------
footer {
    margin-top: 10px;
}
